* {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page1 {
  background-image: url("img/p1BG.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  text-align: center;
}

#p1LOGO {
  width: 23vw;
  height: auto;
  margin-top: 30px;
}

#p1Text {
  margin-top: 10px;
  width: 60vw;
  height: auto;
}

#p1Text2 {
  color: white;
  text-shadow: 4px 2px 2px gray;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 0px;
}

#p2ThxCard {
  margin-top: 20px;
}

/* .blueBox {
  background-color: #2887C3;
  color: white;
  padding: 3px 10px 0px 10px;
  font-size: 22px;
  font-weight: 900;
  margin-top: 45px;
  border-radius: 3px;
} */

.textBox {
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 0.1px;
  width: 89vw;
  text-align: center;
  margin-top: 20px;
}